<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a href="{{ path('home') }}" class="navbar-brand">Test App</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% set route_name = app.request.attributes.get('_route') %}
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {{ route_name == 'home' ? 'active' }}"><a href="{{ path('home') }}" class="nav-link">Home</a></li>
			<li class="nav-item {{ route_name == 'temp' ? 'active' }}"><a href="{{ path('temp') }}" class="nav-link">Temp</a></li>
		</ul>
	</div>
</nav>
